<div class="p-8 sm:p-6 md:p-8 rounded shadow-lg w-full max-w-md mx-auto">
  <h1 class="text-center text-3xl font-semibold text-gray-800 mb-6">Edit Tag</h1>

  <%= form_with model: @tag, local: true do |f| %>
    <div class="mb-4">
      <%= f.label :name, 'Tag Name', class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :name, value: @tag.name, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>

    <%= f.submit "Update Tag", class: "w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50" %>
  <% end %>

  <div class="mt-6">
    <%= link_to 'Back', tags_path, class: "text-blue-500 hover:text-blue-700 text-sm" %>
  </div>
</div>